
html {
    font-size: 62.5%;
    height: 100%;
    
  }
  
  body {
    font-family: $ff-third;
    font-size: 1.6rem;
    line-height: 1.4;
    color: $clr-dark;
    transition: .5s ease;
    overflow-y: hidden;
  }
  
  a {
    color: $clr-dark;
    text-decoration: none;
  }
  
  p {
    margin-bottom: 1rem;
  }
  
  h1, h2, h3, h4, h5, h6{
    font-weight: 100;
  }
  ::-webkit-scrollbar {
    height: 20px !important;
    position: absolute;
  }
  ::-webkit-scrollbar-track {
    border: $clr-gray; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: $clr-primary; 
    transition: .3s ease-in-out;
  }
  ::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
  }
